/* * {
    border: solid 1px red;
} */
:root {
    --primary: #82C49D;
    --light-primary: #E3F2E9;
    --white: #F5F5F5;
    --gray: #525252;
    --black : #2E3532;
    --accent: #C73E1D;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}

.main-container {
    background-color: var(--light-primary);
    color: var(--black);
    display: flex;
    width:900px;
    height:900px;
    flex-direction: column;
    align-items: center;
    padding:40px 0;
}

.button-container {
    background-color: var(--light-primary);
    width: 90%;
    height: 20%; 
    border: double 8px var(--primary);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.move {
    background-color: var(--light-primary);
    border: none;
    font-size: 28px;
    text-align: center;
}

.move:hover {
    font-weight: bold;
}

.move .arrow {
    display: none;
}

.move:hover .arrow {
    display: inline;
}

img {
    width: 300px;
    height: auto;
}

.hp {
    background-color: var(--accent);
    height: 20px;
    width: 400px;
    border-radius: 12px;
}

.hp-damaged {
    background-color: var(--accent);
    height: 20px;
    border-radius: 12px 0 0 12px;
}

.hp-bar {
    width: 400px;
    height:20px;
    background-color: #CCCCCC;
    border: solid 2px var(--black);
    border-radius: 12px;
}

.stats-outcome {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    font-size: 20px;
}

.stats-outcome.computer-stats {
    margin-bottom: auto;
}

h1 {
    font-size: 40px;
    padding: 40px;
    color: var(--black);
}

.start-screen {
    flex: 1;
    margin-top: 30%;
    align-items: center;
    text-align: center;
}

.start-screen > a, .game-over-screen > a {
    font-size: 32px;
    padding: 20px;
    border: solid 6px var(--primary);
    border-radius: 40px;
    color: var(--primary);
    font-weight: bold;
}

.start-screen > a:hover, .game-over-screen > a:hover {
    background-color: var(--primary);
    border: solid 6px var(--primary);
    border-radius: 40px;
    color: var(--white);
}

.start-game  {
    display: none;
}

.game-over-screen {
    flex: 1;
    margin-top: 30%;
    align-items: center;
    text-align: center;
    display: none;
}

.outcome-text {
    width: 400px;
}